<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_CloudAssets>
            <version>0.1.0</version>
        </Hackathon_CloudAssets>
    </modules>
    <global>
        <models>
            <hackathon_cloudassets>
                <class>Hackathon_CloudAssets_Model</class>
            </hackathon_cloudassets>
        </models>
        <helpers>
            <hackathon_cloudassets>
                <class>Hackathon_CloudAssets_Helper</class>
            </hackathon_cloudassets>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <catalog_product_gallery_upload_image_after>
                <observers>
                    <hackathon_cloudassets_uploadobserver>
                        <type>singleton</type>
                        <class>hackathon_cloudassets/observer_adminhtml_product</class>
                        <method>resizeOnUpload</method>
                    </hackathon_cloudassets_uploadobserver>
                </observers>
            </catalog_product_gallery_upload_image_after>
            <catalog_product_media_save_before>
                <observers>
                    <hackathon_cloudassets_onproductmediasave>
                        <type>singleton</type>
                        <class>hackathon_cloudassets/observer_adminhtml_product</class>
                        <method>onProductMediaSave</method>
                    </hackathon_cloudassets_onproductmediasave>
                </observers>
            </catalog_product_media_save_before>
        </events>
    </adminhtml>
</config>